/* Defaults */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove Default Padding */

ul {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

/* Main Styling */

body {
  font-family: 'Roboto', sans-serif;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.profile-name {
  font-size: .8rem;
  font-weight: 700;
}

button {
  border-radius: 1rem;
  border: none;
  color: white;
  font-size: .8rem;
  padding: .4rem 1.7rem;
  background: #7c3aed;
}

/* Page Container */

.page-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 3fr;
}

/* Main Nav */

.main-nav {
  padding: .5rem;
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  grid-auto-rows: max-content;
  background: #7c3aed;
  color: white;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: .5rem;
}

/*** Menu Items ***/

.menu-items {
  padding: .5rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  font-size: .9rem;
}

.menu-items li {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1rem;
}

/*** Logo ***/

.main-logo {
  width: 2rem;
  height: 2rem;
}

/*** Icons ***/

.icon {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 1rem;
  padding: 1rem;
  background: #f5f3ff;
}

.search-bar {
 display: grid;
 grid-template-columns: max-content 1fr; 
 grid-template-rows: max-content;
 gap: 1rem;
 align-items: center;
 padding: 0 2rem;
}

.search-icon {
  height: 1.2rem;
  width: 1.2rem;
}

input[type="search"] {
  border: none;
  border-radius: 20px;
  background: #ddd6fe;
}

label[for="search-bar"] {
  display: none;
}

/* User Info */

.user-info {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem 0 4rem;
}

.user-info-big {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: .5rem;
  align-items: center;
  padding: 0 0 0 1rem;
}

.user-info-big .avatar {
  width: 4rem;
  height: 4rem;
}

.username > h1 {
  font-size: .9rem;
}

.username > h2 {
  font-size: 1.3rem;
}

/***  Secondary Nav ***/

.secondary-nav {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;
  align-items: center;
}

/* Main */

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: #ddd6fe;
  gap: 1rem;
  padding: 1rem;
}

main h1 {
  font-size: 1rem;
}

/* Projecs */

.projects {
  grid-row: span 2;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  border-radius: .5rem;
  padding: 1rem;
  border-left: 5px solid #6b21a8;
  background: #f5f3ff;
}

.project h2 {
  grid-column: span 4;
  font-size: .9rem;
  font-weight: bold;
}

.project p {
  grid-column: span 4;
  font-size: .8rem;
  color: #222;
}

.project-icon-container {
  align-self: end;
  grid-column: 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
}

/* Announcements */

.announcements-container {
  background: #f5f3ff;
}

/* Trending */

.trending-container {
  background: #f5f3ff;
}